<a href="https://colab.research.google.com/github/gianlukas/modellazioneSistIng/blob/main/1_1_IntroduzionePython_Basic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Corso di Modellazione dei Sistemi Ingegneristici

prof. Gianluca Solazzo

email: gianluca.solazzo@unisalento.it

# Introduzione a Python (1)

Esploriamo le basi della programmazione in Python.
Come sempre, non si pu√≤ non iniziare dal seguente comando üåû

In [ ]:
print("Hello, world!")

Hello, world!

## Variabili

Proprio come le familiari variabili *x* e *y* in matematica, utilizziamo le variabili nella programmazione per manipolare facilmente i valori. L'operatore di assegnazione = assegna valori alle variabili in Python.

Le variabili in Python possono contenere lettere (minuscole o maiuscole), numeri 0-9 e alcuni caratteri speciali come il carattere di sottolineatura. I nomi delle variabili dovrebbero iniziare con una lettera.

### Assegnazione

In una dichiarazione di assegnazione, si specifica un nome seguito dal simbolo di uguale (=) e dall'espressione che si desidera assegnare a tale nome. L'operazione di assegnazione consiste nell'associare il valore dell'espressione a destra del simbolo di uguale al nome a sinistra. Da quel momento in poi, ogni volta che il nome viene utilizzato in un'espressione, il valore associato durante l'assegnazione viene utilizzato al suo posto.

In [ ]:
a = 10
b = 20
a + b

30

In [ ]:
a = 1/4
b = 2 * a
b

0.5

In [ ]:
# assign some variables
x = 7 # integer assignment of the integer 7
y = 7.0 # floating point assignment of the decimal number 7.0
print("The variable x is ",x," and has type", type(x),". \n")
print("The variable y is ",y," and has type", type(y),". \n")

The variable x is  7  and has type <class 'int'> .

The variable y is  7.0  and has type <class 'float'> .

In [ ]:
# multiplying by a float will convert an integer to a float
x = 7 # integer assignment of the integer 7
print("Multiplying x by 1.0 gives",1.0*x)
print("The type of this value is", type(1.0*x),". \n")

Multiplying x by 1.0 gives 7.0
The type of this value is <class 'float'> .

I nomi devono iniziare con una lettera, ma possono contenere sia lettere che numeri. Un nome non pu√≤ contenere uno spazio; invece, √® comune utilizzare il carattere `_` per sostituire ogni spazio. Sta al programmatore scegliere nomi facili da interpretare.
Attenzione a non utilizzare come nomi delle variabili le parole riservate in Python

Quali sono?
Possiamo utilizzare il pacchetto incorporato "keyword" per ottenere la lista delle parole chiave di Python che non possono essere usate per i nomi di variabili.

In [1]:
import keyword

print(*keyword.kwlist, sep="\n")

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

La tabella seguente riassume i principali operatori binari utilizzati in Python.

| Operazione         | Operatore |
|--------------------|-----------|
|addizione           | `+`       |
|sottrazione         | `-`       |
|moltiplicazione     | `*`       |
|divisione (reale)   | `/`       |
|divisione (intera; rimuove il resto)  | `//` |
|resto (modulo)      | `%`       |
|elevamento a potenza| `**`      |

Le due operazioni che potrebbero essere meno familiari sono `%` (trova il resto di una divisione) e `//` (esegui una divisione scartando il resto). Per esempio, il resto di 3/2 √® 1.  La divisione intera (scartando il resto) di 3/2 produce 1.

Usando gli operatori precedenti possiamo dunque usare Python come un calcolatore:

In [ ]:
a = 4
b = 2

print("a + b is", a + b)
print("a - b is", a - b)
print("a * b is", a * b)
print("a / b is", a / b)
print("a ** b is", a**b)
print("9 % 4 is", 9 % 4)
print("9 // 4 is", 9 // 4)

a + b is 6
a - b is 2
a * b is 8
a / b is 2.0
a ** b is 16
9 % 4 is 1
9 // 4 is 2

L'applicazione degli operatori aritmetici in Python dipende dalle seguenti regole di precedenza degli operatori, che sono analoghe a quelle usate in algebra.

1. Le espressioni tra parentesi vengono valutate per prime.
2. Successivamente si valutano gli elevamenti a potenza.
3. In seguito, si valutano moltiplicazioni, divisioni e moduli.
4. Per ultime vengono valutate somme e sottrazioni.

## I tipi dei dati

Python √® un linguaggio a tipizzazione dinamica. Ci√≤ significa che in base al valore che assegnamo a una variabile, viene impostato il tipo di dati corrispondente.

Ogni valore ha un tipo e la funzione `type()` restituisce il tipo del risultato di qualsiasi espressione.

In [ ]:
type(b)

float

Di seguito sono riportati i pi√π comuni tipi di dati.

| Data type       | Mutabile?   |
|-----------------|------------|
|   None          | ‚ùå         |
|   bytes         | ‚ùå         |
|   bool          | ‚ùå         |
|   int           | ‚ùå         |
|   float         | ‚ùå         |
|   complex       | ‚ùå         |
|   str           | ‚ùå         |
|   tuple         | ‚ùå         |
|   list          | ‚úÖ         |
|   set           | ‚úÖ         |
|   dictionary    | ‚úÖ         |

Dobbiamo naturalmente porci la domanda: "Cos'√® Mutabile?". La risposta √® la seguente: se un oggetto pu√≤ essere modificato dopo la sua creazione, allora √® Mutabile; altrimenti, se non pu√≤ essere modificato, √® Immutabile.

## Numeri

Quando si lavora con numeri in programmazione, √® importante tenere presente alcune considerazioni. Sebbene i computer siano principalmente utilizzati per eseguire calcoli numerici, in Python (come nella maggior parte degli altri linguaggi di programmazione) ci sono due tipi di numeri distinti: gli interi (`int`) e i numeri in virgola mobile (`float`).

Gli interi, rappresentati dal tipo `int`, possono rappresentare solo numeri interi senza una parte frazionaria. Possono essere positivi, negativi o zero.

D'altra parte, i numeri in virgola mobile, chiamati `float`, possono rappresentare sia numeri interi che numeri frazionari. Tuttavia, i `float` hanno alcune limitazioni. Possono rappresentare solo la mantissa di un numero decimale con una precisione di circa 15 o 16 cifre. Oltre questo limite, la precisione viene persa. Nonostante questa limitazione, la maggior parte delle applicazioni viene gestita senza problemi.

Se si devono utilizzare numeri molto grandi o molto piccoli, √® comune utilizzare la notazione scientifica, ad esempio `m * 10^n`. Solitamente, il 10 viene omesso e l'esponente viene indicato con la lettera `E`. Ad esempio, `1E9` rappresenta un miliardo e `1E-9` rappresenta un miliardesimo.

Il tipo di un numero pu√≤ essere facilmente riconosciuto dalla sua rappresentazione. I valori `int` non hanno un punto decimale, mentre i valori `float` hanno sempre un punto decimale.

## Integer

In [ ]:
3

3

In [ ]:
3.0

3.0

In [ ]:
x = 7.0
y = x**2 # square the value in x
print(y)

49.0

In [ ]:
1 + x + x**2 + x**3

400.0

In [ ]:
print ( type(x) )

<class 'float'>

## Float

Un numero in virgola mobile (o float) √® un numero reale scritto in forma decimale. Python memorizza numeri in virgola mobile e interi in modi diversi e se combiniamo numeri interi e numeri in virgola mobile utilizzando operazioni aritmetiche il risultato √® sempre un numero in virgola mobile.

In [ ]:
2 * 3.14159

6.28318

Usiamo la notazione scientifica per creare $0.00001$:

In [ ]:
1e-5

1e-05

Approssimiamo $\sqrt{2} \,$:

In [ ]:
2**0.5

1.4142135623730951

## Numeri complessi

Usa la funzione integrata `complex()` per creare un numero complesso in Python o usa la lettera `j` per $j = \sqrt{-1}$. La funzione integrata `complex()` accetta 2 parametri che definiscono la parte reale e immaginaria del numero complesso.

Creimo il numero complesso $1 + j$:

In [ ]:
complex(1,1)

(1+1j)

Sommiamo i numeri complessi:

In [ ]:
(1 + 2j) + (2 - 3j)

(3-1j)

Moltiplichiamo i numeri complessi:

In [ ]:
(2 - 1j) * (5 + 2j)

(12-1j)

### Esercizio
Scriviamo il codice per definire tre numeri interi positivi a, b e c. Quindi calcoliamo a^2, b^2 e c^2. Dopo aver calcolato i tre i valori, controlliamo se tali valori formano una tripla pitagorica, cio√®: a^2 + b^2 = c^2.

In [3]:
# Define positive integers a, b, and c
a = 3
b = 4
c = 5

# Calculate a^2, b^2, and c^2
a_squared = a ** 2
b_squared = b ** 2
c_squared = c ** 2

# Check if the values form a Pythagorean Triple
is_pythagorean_triple = (a_squared + b_squared == c_squared)

# Print the results
print(f"a^2 = {a_squared}, b^2 = {b_squared}, c^2 = {c_squared}")
if is_pythagorean_triple:
    print("The values form a Pythagorean Triple.")
else:
    print("The values do not form a Pythagorean Triple.")

a^2 = 9, b^2 = 16, c^2 = 25
The values form a Pythagorean Triple.

### Stringhe

Gli oggetti di tipo stringa contengono una sequenza di caratteri.

Si noti il risultato ottenuto quando si applica l'operatore `+` a due stringhe.

In [ ]:
"data" + "science"

'datascience'

In [ ]:
"data" + " " + "science"

'data science'

Sia le virgolette singole che doppie possono essere utilizzate per creare le stringhe: "ciao" e 'ciao' sono espressioni equivalenti. Tuttavia, le virgolette doppie sono spesso preferite poich√© consentono di includere virgolette singole all'interno delle stringhe.

In [ ]:
"Che cos'√® una parola?"

"Che cos'√® una parola?"

L'espressione precedente avrebbe prodotto un `SyntaxError` se fosse stata racchiusa da virgolette singole.

#### Metodi

A partire da una stringa esistente, √® possibile creare altre stringhe utilizzando i *metodi* applicabili alle stringhe. I metodi sono funzioni che operano sulle stringhe. Per chiamare un metodo, si aggiunge un punto dopo la stringa e si chiama la funzione corrispondente. Ad esempio, il seguente metodo genera una versione in maiuscolo di una stringa.

In [ ]:
"loud".upper()

'LOUD'

### Valori booleani e confronti

Gli oggetti di tipo bool hanno solo due valori: True‚úÖ e False‚ùå.

Il corrispettivo intero di True √® 1 e per False √® 0. √à dunque possibile eseguire le operazioni aritmetiche sui valori booleani: True equivale a 1 e False a 0. Per esempio:

In [ ]:
True + True + False

Un valore booleano viene ritornato quando si valuta un confronto. Per esempio:

In [ ]:
3 > 1 + 1

True

Il valore True indica che il confronto √® valido; Python ha confermato questo semplice fatto sulla relazione tra 3 e 1+1.

Si noti la regola di precedenza: gli operatori >, <, >=, <=, ==, != hanno la precedenza pi√π bassa (vengono valutati per ultimi), il che significa che nell'espressione precedente viene prima valutato (1 + 1) e poi (3 > 2).

#### Operatori di confronto
Un operatore di confronto √® un operatore che esegue un qualche tipo di confronto e restituisce un valore booleano (True oppure False). Per esempio, l'operatore `==` confronta le espressioni su entrambi i lati e restituisce `True` se hanno gli stessi valori e `False` altrimenti. L'opposto di `==` √® `!=`, che si pu√≤ leggere come 'non uguale al valore di'. Gli operatori di confronto sono elencati qui sotto:

| Confronto           | Operatore |
|---------------------|-----------|
| Minore              | <         |
| Maggiore            | >         |
| Minore o uguale     | <=        |
| Maggiore o uguale   | >=        |
| Uguale              | ==        |
| Non uguale          | !=        |

Ad esempio:

In [ ]:
a = 4
b = 2

print("a > b", "is", a > b)
print("a < b", "is", a < b)
print("a == b", "is", a == b)
print("a >= b", "is", a >= b)
print("a <= b", "is", a <= b)

a > b is True
a < b is False
a == b is False
a >= b is True
a <= b is False

Nella cella seguente si presti attenzione all'uso di `=` e di `==`:

In [ ]:
boolean_condition = 10 == 20
print(boolean_condition)

L'operatore `=` √® un'istruzione di *assegnazione*. Ovvero, crea un nuovo oggetto. L'operatore `==` valuta invece una condizione logica e ritorna un valore booleano.

Un'espressione pu√≤ contenere pi√π confronti e tutti devono essere veri affinch√© l'intera espressione sia vera. Ad esempio:

In [ ]:
1 < 1 + 1 < 3

True

#### Operatori Booleani

Gli operatori booleani confrontano *espressioni* (non valori) e ritornano un valore booleano. Ad esempio:

In [ ]:
a = 2
b = 3

(a + b > a) and (a + b > b)

True

Nella cella sopra le parentesi tonde sono opzionali ma facilitano la lettura.

- `and`  ‚Äì Ritorna True solo se entrambi le espressioni sono vere, altrimenti ritorna False
- `or`  ‚Äì Ritorna True se almeno una delle due espressioni √® vera, altrimenti ritorna False.
- `not`  ‚Äì Ritorna True se l'espressione √® falsa, altrimenti ritorna False.

Questi operatori si comportano come ci possiamo aspettare.

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
not True

False

Altri esempi sono i seguenti (si noti l'uso della funzione `len()`):

In [ ]:
print(3 > 2)  # True, because 3 is greater than 2
print(3 >= 2)  # True, because 3 is greater than 2
print(3 < 2)  # False,  because 3 is greater than 2
print(2 < 3)  # True, because 2 is less than 3
print(2 <= 3)  # True, because 2 is less than 3
print(3 == 2)  # False, because 3 is not equal to 2
print(3 != 2)  # True, because 3 is not equal to 2
print(len("mango") == len("avocado"))  # False
print(len("mango") != len("avocado"))  # True
print(len("mango") < len("avocado"))  # True
print(len("milk") != len("meat"))  # False
print(len("milk") == len("meat"))  # True
print(len("tomato") == len("potato"))  # True
print(len("python") > len("dragon"))  # False

True
True
False
True
True
False
True
False
True
True
False
True
True
False

In Python, gli operatori logici `and`, `or` e `not` sono utilizzati per combinare o invertire le condizioni booleane.

L'operatore and restituisce True solo se entrambe le condizioni booleane sono vere. Ad esempio, `True and False` restituir√† False perch√© una delle condizioni √® falsa.

L'operatore `or` restituisce True se almeno una delle due condizioni booleane √® vera. Ad esempio, `True or False` restituir√† True perch√© almeno una delle condizioni √® vera.

L'operatore `not` viene utilizzato per invertire il valore di verit√† di una condizione booleana. Ad esempio, `not True` restituir√† False e `not False` restituir√† True.

Ecco alcuni esempi di come questi operatori possono essere utilizzati:

In [ ]:
print(3 > 2 and 4 > 3) # True - because both statements are true
print(3 > 2 and 4 < 3) # False - because the second statement is false
print(3 < 2 and 4 < 3) # False - because both statements are false
print('True and True: ', True and True)
print(3 > 2 or 4 > 3)  # True - because both statements are true
print(3 > 2 or 4 < 3)  # True - because one of the statements is true
print(3 < 2 or 4 < 3)  # False - because both statements are false
print('True or False:', True or False)
print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False
print(not True)      # False - Negation, the not operator turns true to false
print(not False)     # True
print(not not True)  # True
print(not not False) # False

True
False
False
True and True:  True
True
True
False
True or False: True
False
False
True
True
False

## Sequenze

Oltre ai numeri e ai valori booleani, Python supporta anche un insieme di "contenitori", ovvero i seguenti tipi strutturati:

- le liste,
- le tuple,
- gli insiemi,
- i dizionari.

### Le tuple

Una tupla √® una collezione di diversi tipi di dati che √® ordinata e immutabile (non modificabile). Le tuple sono scritte tra parentesi tonde, (). Una volta creata una tupla, non √® possibile modificarne i contenuti.

In [ ]:
colors = ('Rosso', 'Nero', 'Bianco')
colors

('Rosso', 'Nero', 'Bianco')

In [ ]:
type(colors)

tuple

## Indici e Liste

Gli elenchi sono un componente chiave per archiviare i dati in Python. Le liste sono elenchi di "cose" (nel nostro caso, queste "cose" sono numeri in virgola mobile).
Attenzione: l'indicizzazione di Python inizia da 0 mentre altri linguaggi di programmazione avere un'indicizzazione che inizia da 1. In altre parole, la prima voce di un elenco ha indice 0, la seconda voce come indice 1 e cos√¨ via.

Possiamo estrarre una parte di un elenco utilizzando la sintassi **name[start:stop]** che estrae gli elementi tra l'indice *start* e l'indice *stop-1*.

In [ ]:
# Create the list of numbers 0 through 8 and then print only the element with index 0.
MyList = [0,1,2,3,4,5,6,7,8]
print(MyList[0])

In [ ]:
# Print all elements up to, but not including, the third element of MyList.
MyList = [0,1,2,3,4,5,6,7,8]
print(MyList[:2])

In [ ]:
#Print the last element of MyList (this is a handy trick!).
MyList = [0,1,2,3,4,5,6,7,8]
print(MyList[-1])

In [ ]:
#Print the elements indexed 1 through 4. Beware! This is not the first through fifth element.
MyList = [0,1,2,3,4,5,6,7,8]
print(MyList[1:5])

#Print every other element in the list starting with the first.
MyList = [0,1,2,3,4,5,6,7,8]
print(MyList[0::2])

#Print the last three elements of MyList
MyList = [0,1,2,3,4,5,6,7,8]
print(MyList[-3:])

[1, 2, 3, 4]
[0, 2, 4, 6, 8]
[6, 7, 8]

In [ ]:
# range is a handy command for creating a sequence of integers
MySecondList = range(4,20)
print(MySecondList) # this is a "range object" in Python.
# When using range() we won't actually store all of the values in memory.
print(list(MySecondList))
# notice that we didn't create the last element!

range(4, 20)
[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In Python, gli elementi di una lista non devono necessariamente essere dello stesso tipo. Si possono mescolare numeri interi, float, stringhe, liste, ecc. In questo esempio vediamo un elenco di diversi elementi che hanno diversi tipi di dati: un float, un intero, una stringa e un numero complesso. Nota che il numero immaginario i √® rappresentato da 1j in Python.

In [ ]:
MixedList = [1.0, 7, 'Bob', 1-5j]
print(MixedList)
print(type(MixedList[0]))
print(type(MixedList[1]))
print(type(MixedList[2]))
print(type(MixedList[3]))

### Esercizio

1. Crea l'elenco dei primi numeri di Fibonacci: 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89.
2. Stampa i primi quattro elementi dell'elenco.
3. Stampa ogni terzo elemento della lista a partire dal primo.
4. Stampa l'ultimo elemento della lista.
5. Stampa l'elenco in ordine inverso.
6. Stampa l'elenco iniziando dall'ultimo elemento e contando all'indietro da ogni altro elemento.

In [ ]:
# Soluzione #1

# a. Create the list of the first several Fibonacci numbers
fibonacci = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# b. Print the first four elements of the list
print("First four elements:", fibonacci[:4])

# c. Print every third element of the list starting from the first
print("Every third element starting from the first:", fibonacci[::3])

# d. Print the last element of the list
print("Last element:", fibonacci[-1])

# e. Print the list in reverse order
print("List in reverse order:", fibonacci[::-1])

# f. Print the list starting at the last element and counting backward by every other element
print("List starting at the last element and counting backward by every other element:", fibonacci[::-2])

In [ ]:
# Soluzione pi√π flessibile

# a. Create the list of the first 11 Fibonacci numbers
fibonacci = [1, 1]
while len(fibonacci) < 11:  # Generating the first 11 Fibonacci numbers
    fibonacci.append(fibonacci[-1] + fibonacci[-2])

# b. Print the first four elements of the list
print("First four elements:", fibonacci[:4])

# c. Print every third element of the list starting from the first
print("Every third element starting from the first:", fibonacci[::3])

# d. Print the last element of the list
print("Last element:", fibonacci[-1])

# e. Print the list in reverse order
print("List in reverse order:", fibonacci[::-1])

# f. Print the list starting at the last element and counting backward by every other element
print("List starting at the last element and counting backward by every other element:", fibonacci[::-2])

## Operazioni sulle liste

E' molto semplice effettuare operazioni sulle liste (es. aggiungere, rimuovere elementi dagli elenchi).

La sintassi utilizzata √® del tipo: **variable.command** in cui:
variable = nome della variabile,
command = l'operazione che si vuole fare su quella variabile.

Ad esempio, MyList.append(7) aggiunger√† il numero 7 all'elenco MyList. Questa √® una funzionalit√† di programmazione comune in Python e la useremo spesso.

In [ ]:
#Esempio

MyList = [0,1,2,3]
print(MyList) # print the list content

MyList.append('a') # append the string 'a' to the end of the list
print(MyList)

MyList.remove('a') # remove the first instance of `a` from the list
print(MyList)

MyList.remove(3) # now let's remove the 3
print(MyList)

[0, 1, 2, 3]
[0, 1, 2, 3, 'a']
[0, 1, 2, 3]
[0, 1, 2]

### Esercizio



1. Crea l'elenco dei primi numeri di Lucas: 1, 3, 4, 7, 11, 18, 29, 47.
2. Aggiungi i successivi tre numeri di Lucas alla fine dell'elenco.
3. Rimuovere il numero 3 dall'elenco.
4. Inserisci nuovamente i 3 nell'elenco nel punto corretto.
5. Stampa l'elenco in ordine inverso.
6. Esegui alcune altre operazioni di elenco su questo elenco e segnala i risultati.

##  I dizionari

Gli oggetti di tipo "dizionario" vengono utilizzati per creare coppie chiave-valore, dove ogni chiave √® unica. Un dizionario viene creato specificando ogni coppia come `chiave : valore`, separando le diverse coppie con una virgola e racchiudendo il tutto tra parentesi graffe. Ad esempio:

In [ ]:
music = {
    "blues": "Betty Smith",
    "classical": "Gustav Mahler",
    "pop": "David Bowie",
    "jazz": "John Coltrane",
}

L'accesso agli elementi di un dizionario viene fatto specificando all'interno di parentesi quadre la chiave per ottenere o modificare il valore corrispondente:

In [ ]:
music["pop"]

'David Bowie'

Per trovare il numero di coppie `key: value` nel dizionario usiamo `len()`.

In [ ]:
print(len(music))

4

In [ ]:
music['new music'] = 'Missy Mazzoli'
print(music)

{'blues': 'Betty Smith', 'classical': 'Gustav Mahler', 'pop': 'David Bowie', 'jazz': 'John Coltrane', 'new music': 'Missy Mazzoli'}