<a href="https://colab.research.google.com/github/gianlukas/modellazioneSistIng/blob/main/1_2_IntroduzionePython_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy

Oltre al linguaggio di programmazione di base, agli strumenti per scrivere cicli, verificare condizioni, creare e manipolare elenchi, esploriamo il pacchetto numpy che contiene routine numeriche ottimizzate per eseguire calcoli numerici nel calcolo scientifico.

Il pacchetto numpy viene utilizzato in molti (la maggior parte) calcoli
matematici nell'analisi numerica con Python. Fornisce algoritmi per l'aritmetica di matrici e vettori. Inoltre, è ottimizzato per poter eseguire questi calcoli nel modo più efficiente possibile (sia in termini di memoria che di velocità).
In genere quando importiamo numpy utilizziamo import numpy come np. Questo è il modo standard per denominare il pacchetto Numpy. Ciò significa che avremo molte funzioni con il prefisso “np” per richiamare i comandi numpy.

NumPy è l'abbreviazione di Numerical Python: un'estensione del linguaggio pensata per il calcolo algebrico e matriciale. Numpy consente di lavorare con vettori e matrici in maniera più efficiente e veloce di quanto non si possa fare con le liste e le liste di liste (matrici) di Python. Inoltre, Numpy aggiunge una serie di funzioni matematiche di base e la possibilità di generare numeri casuali.

## Gli array nel modulo NumPy

In Python puro abbiamo a disposizione oggetti numerici (interi e a virgola mobile) e contenitori (liste, dizionari e insiemi). Numpy fornisce un nuovo tipo di dato: un array N-dimensionale (`ndarray`). Il costrutto `ndarray` è  un oggetto di tipo array multidimensionale caratterizzato da alcune proprietà, come:

- *dimensioni*: gli `ndarray` possono avere da una a un numero arbitrario di dimensioni, che vengono definite come "assi". Ad esempio, un array può essere unidimensionale (un vettore), bidimensionale (una matrice), tridimensionale (un cubo), e così via;
- *tipo di dato*: tutti gli elementi di un `ndarray` devono avere lo stesso tipo di dato, che può essere ad esempio float, int, bool o string (questo li differenzia dalle liste in puro Python, che non sono omogenee);
- *forma*: la forma di un `ndarray` indica le dimensioni dell'array, cioè il numero di elementi per ogni asse. Ad esempio, un array con forma (3, 4) ha 3 righe e 4 colonne;
- *indicizzazione*: gli `ndarray` possono essere indicizzati come gli array Python standard, ma consentono anche indicizzazioni più avanzate.

Gli `ndarray` offrono una vasta gamma di funzioni e metodi per manipolare e analizzare i dati in essi contenuti, tra cui operazioni matematiche, statistiche, trasformazioni e manipolazioni di dati.

**Terminologia**

- Con *size* di un array intendiamo il numero di elementi presenti in un array;
- Con *rank* di un array si intende il numero di assi/dimensioni di un array;
- Con *shape* di un array intendiamo le dimensioni dell'array, cioè una tupla di interi
contenente il numero di elementi per ogni dimensione.

In [ ]:
import numpy as np

## Perchè numpy

Scopriamo l'utilità di numpy con un semplice esempio. Supponiamo di avere una lista di numeri reali e di voler calcolare il seno di ogni elemento della lista.

In [ ]:
from math import pi, sin
MyList = [0,pi/6, pi/4, pi/3, pi/2, 2*pi/3, 3*pi/4, 5*pi/6, pi]
sin(MyList) # applico la funzione seno alla lista per intero. Funzionerà?

TypeError: must be real number, not list

In [ ]:
# Si potrebbe procedere in questo modo (poco elegante)

from math import pi, sin
MyList = [0,pi/6, pi/4, pi/3, pi/2, 2*pi/3, 3*pi/4, 5*pi/6, pi]
SineList = [sin(n) for n in MyList]
print(SineList)

[0.0, 0.49999999999999994, 0.7071067811865475, 0.8660254037844386, 1.0, 0.8660254037844387, 0.7071067811865476, 0.49999999999999994, 1.2246467991473532e-16]

In [ ]:
#Un altro esempio: voglio elevare al quadrato ogni elemento nella lista

MyList = [1,2,3,4]
MyList**2 # This will produce an error

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [ ]:
# Oppure utilizzare numpy
import numpy as np
MyList = np.array([1,2,3,4])
MyList**2

array([ 1,  4,  9, 16])

## Broadcasting

Il broadcasting è un meccanismo che consente a Numpy di eseguire operazioni tra array di diverse dimensioni o tra un array e uno scalare, anche quando le dimensioni non sono compatibili tra loro. In questo modo, Numpy può estendere automaticamente la dimensione di uno degli operandi in modo da rendere possibile l'operazione.

Ad esempio, è possibile effettuare un'operazione tra un array e un singolo numero (operazione tra un vettore e uno scalare), oppure tra array di due dimensioni diverse, senza dover esplicitamente allineare le dimensioni degli array. In questi casi, Numpy utilizza il *broadcasting* per allineare le dimensioni degli array in modo da eseguire l'operazione richiesta. Questo rende il codice più compatto e leggibile, e consente di evitare il lavoro manuale di espansione degli array.

In sintesi, il *broadcasting* è un meccanismo molto utile in Numpy che consente di eseguire operazioni tra array di diverse dimensioni o tra un array e uno scalare in modo automatico, senza dover esplicitamente allineare le dimensioni degli array.

Ad esempio

In [ ]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
a * 2

array([[ 2,  4,  6,  8],
       [10, 12, 14, 16],
       [18, 20, 22, 24]])

## Altre operazioni sugli array

C'è un numero enorme di funzioni predefinite in NumPy che calcolano automaticamente diverse quantità sui `ndarray`. Ad esempio:

- `mean()`: calcola la media di un vettore o matrice;
- `sum()`: calcola la somma di un vettore o matrice;
- `std()`: calcola la deviazione standard;
- `min()`: trova il minimo nel vettore o matrice;
- `max()`: trova il massimo;
- `ndim`: dimensione del vettore o matrice;
- `shape`: restituisce una tupla con la "forma" del vettore o matrice;
- `size`: restituisce la dimensione totale del vettore (=ndim) o della matrice;
- `dtype`: scrive il tipo numpy del dato;
- `zeros(num)`: scrive un vettore di num elementi inizializzati a zero;
- `arange(start,stop,step)`: genera un intervallo di valori (interi o reali, a seconda dei valori di start, ecc.) intervallati di step. Nota che i dati vengono generati nell'intervallo aperto [start,stop)!
- `linstep(start,stop,num)`: genera un intervallo di num valori interi o reali a partire da start fino a stop (incluso!);
- `astype(tipo)`: converte l'ndarray nel tipo specificato

Per esempio:

In [ ]:
x = np.array([1, 2, 3])
x

array([1, 2, 3])

In [ ]:
[x.min(), x.max(), x.sum(), x.mean(), x.std()]

[1, 3, 6, 2.0, 0.816496580927726]

## Creare un array

Esistono diversi modi per creare un array numpy. Il più semplice è partire da una lista python e usare la funzione array()

In [ ]:
voti_inglese = [27,28,24,30,21,25]
E = np.array(voti_inglese)
print(E)

[27 28 24 30 21 25]

In [ ]:
# OPPure partire direttamente invocando la funzione array()
E = np.array([27,28,24,30,21,25])
print(E)

[27 28 24 30 21 25]

### arange, linspace, zeros, ones, and meshgrid

Esistono alcuni metodi integrati per creare array in Numpy che consentono di risparmiare un po' di tempo in molte impostazioni di calcolo scientifico.

* arange (array range) crea un array di numeri in virgola mobile con gli argomenti start, stop e step. Bisogna prestare attenzione al fatto che la distanza di inizio-arresto sia equamente divisibile per il "passo".
* linspace (punti linearmente spaziati) crea un array di numeri in virgola mobile che inizia da un punto, termina nel punto successivo e ha esattamente il numero di punti specificato con uguale spaziatura in mezzo. Ricorda che in uno spazio lineare si ha sempre la garanzia di raggiungere esattamente il punto di arresto, ma si ha il controllo diretto sulla dimensione del passo.
* I comandi zero e uno creano serie di zeri o uni.
* meshgrid costruisce due array che, una volta accoppiati, costituiscono le coppie ordinate per una griglia di punti mesh 2D (o D superiore).

In [ ]:
x = np.arange(0,0.6,0.1)
print(x)
print(x.size)

[0.  0.1 0.2 0.3 0.4 0.5]
6

In [ ]:
y = np.linspace(0,5,11)
print(y)

[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5 5. ]

In [ ]:
z = np.zeros((3,5)) # create a 3x5 matrix of zeros
print(z)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

In [ ]:
u = np.ones((3,5)) # create a 3x5 matrix of ones
print(u)

In [ ]:
x, y = np.meshgrid( np.linspace(0,5,6) , np.linspace(0,5,6) )
print("x = ", x)
print("y = ", y)

x =  [[0. 1. 2. 3. 4. 5.]
 [0. 1. 2. 3. 4. 5.]
 [0. 1. 2. 3. 4. 5.]
 [0. 1. 2. 3. 4. 5.]
 [0. 1. 2. 3. 4. 5.]
 [0. 1. 2. 3. 4. 5.]]
y =  [[0. 0. 0. 0. 0. 0.]
 [1. 1. 1. 1. 1. 1.]
 [2. 2. 2. 2. 2. 2.]
 [3. 3. 3. 3. 3. 3.]
 [4. 4. 4. 4. 4. 4.]
 [5. 5. 5. 5. 5. 5.]]

### Shape, dimension and size di un array

Gli array numpy sono anche denominati "ndarray", che significa "array N-dimensionale". Un array N-dimensionale è semplicemente un array con un numero qualsiasi di dimensioni.
La classe NumPy ndarray viene utilizzata per rappresentare sia matrici che vettori.
* Un vettore è un array con una sola dimensione (non c'è differenza tra vettori di riga e di colonna),
* una matrice si riferisce a un array con due dimensioni.
* gli array tridimensionali o di dimensione superiore, vengono comunemente chiamati "tensori".

Ricordiamo che:
* ndarray.ndim restituisce il numero di assi, o dimensioni, dell'array.
* ndarray.shape restituisce una tupla di numeri interi che indicano il numero di elementi memorizzati lungo ciascuna dimensione dell'array. Se, ad esempio, hai un array 2D con 2 righe e 3 colonne, la shape dell'array è (2, 3)
* ndarray.size restituisce il numero totale di elementi dell'array. Questo è il prodotto degli elementi della shape dell'array (con l'esempio precedente avremmo size = 6).

Se creiamo questo array:

In [1]:
import numpy as np
array_example = np.array([[[0, 1, 2, 3],
                           [4, 5, 6, 7]],

                          [[0, 1, 2, 3],
                           [4, 5, 6, 7]],

                          [[0 ,1 ,2, 3],
                           [4, 5, 6, 7]]])

In [2]:
# quale sarà la sua dimensione?
array_example.ndim

3

In [3]:
# quale sarà la sua size (il numero totale di elementi nell'array)?
array_example.size

24

In [4]:
# quale sarà la sua forma?
array_example.shape

(3, 2, 4)

## Lavorare con formule matematiche

L'implementazione delle formule matematiche sugli array è un processo molto semplice con Numpy. Possiamo prendere ad esempio la formula della deviazione standard che discuteremo nel capitolo {ref}`loc-scale-notebook`:

$$
s = \sqrt{\sum_{i=1}^n\frac{(x_i - \bar{x})^2}{n}}
$$

L'implementazione su un array NumPy è la seguente:

In [ ]:
np.sqrt(np.sum((x - np.mean(x)) ** 2) / np.size(x))

0.816496580927726

Questa implementazione funziona nello stesso modo sia che `x` contenga 3 elementi (come nel caso presente) sia che `x` contenga migliaia di elementi. È importante notare l'utilizzo delle parentesi tonde per specificare l'ordine di esecuzione delle operazioni. In particolare, nel codice fornito, si inizia calcolando la media degli elementi del vettore `x` per mezzo della funzione `np.mean(x)`. Questa operazione produce uno scalare, ovvero un singolo valore numerico che rappresenta la media degli elementi del vettore. L'utilizzo delle parentesi tonde è fondamentale per garantire l'ordine corretto delle operazioni. In questo caso, la funzione `np.mean()` viene applicata al vettore `x` prima di qualsiasi altra operazione matematica. Senza le parentesi tonde, le operazioni verrebbero eseguite in un ordine diverso e il risultato potrebbe essere errato.

## Slicing

Per concludere, spendiamo ancora alcune parole sull'indicizzazione degli `ndarray`.

Slicing in Numpy è un meccanismo che consente di selezionare una porzione di un array multidimensionale, ovvero una sotto-matrice o un sotto-vettore. Per selezionare una porzione di un array, si utilizza la sintassi `[start:stop:step]`, dove `start` indica l'indice di partenza della porzione, `stop` indica l'indice di fine e `step` indica il passo da utilizzare per la selezione. Se uno o più di questi valori vengono omessi, vengono utilizzati dei valori di default.

Ad esempio, se abbiamo un array `arr` di dimensione (3, 4) e vogliamo selezionare la seconda colonna, possiamo usare la sintassi  `arr[:, 1]`. In questo caso, il simbolo `:` indica che vogliamo selezionare tutte le righe, mentre il numero `1` indica che vogliamo selezionare la seconda colonna.

Inoltre, possiamo utilizzare il meccanismo di slicing anche per selezionare porzioni di array multidimensionali. Ad esempio, se abbiamo un array `arr` di dimensione (3, 4, 5) e vogliamo selezionare la prima riga di ciascuna matrice 4x5, possiamo usare la sintassi `arr[:, 0, :]`.

Per esempio, creiamo l'array `a`  di rank 2 con shape (3, 4):

In [ ]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

Utilizziamo il meccanismo di slicing per estrarre la sottomatrice composta dalle prime 2 righe e dalle colonne di indice 1 e 2. `b` è l'array risultante di dimensione (2, 2):

In [ ]:
b = a[:2, 1:3]
b

array([[2, 3],
       [6, 7]])

È importante sapere che uno slice di un array in Numpy è una vista degli stessi dati, il che significa che modificarlo implica la modifica dell'array originale. In pratica, quando si modifica uno slice di un array, si sta modificando direttamente l'array originale e tutte le altre visualizzazioni dell'array vedranno la stessa modifica. Questo avviene perché Numpy è progettato per gestire enormi quantità di dati, pertanto cerca di evitare il più possibile di effettuare copie dei dati.

Questo comportamento deve essere preso in considerazione durante la modifica degli array in Numpy, al fine di evitare modifiche accidentali o indesiderate. In alcuni casi, è possibile utilizzare il metodo `copy()` per creare una copia indipendente di un array e lavorare sulla copia senza modificare l'originale. Vediamo un esempio.

In [ ]:
print(a[0, 1])

2

In [ ]:
b[0, 0] = 77

In [ ]:
print(a)

[[ 1 77  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [ ]:
c = a.copy()
c

array([[ 1, 77,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
c[0, 1] = 33
c

array([[ 1, 33,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
a

array([[ 1, 77,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

## Esempio: Operazioni su array

Come abbiamo sottolineato, il difetto delle liste Python è che non si comportano bene quando vogliamo applicare funzioni matematiche al vettore nel suo insieme.
Un array numpy, è essenzialmente uguale a un elenco Python con le seguenti particolarità:
* in un array numpy ogni elemento è un numero in virgola mobile
* in un array numpy l'utilizzo della memoria è più efficiente
* con un array Numpy ci sono funzioni già pronte che possono agire direttamente sull'array trattandolo come una matrice o un vettore

Definiamo una matrice A e i vettori v, w tali che:
![image.png]()

Vogliamo determinare:
* la dimensione e la shape di questi array
* Estrarre singoli elementi, righe e colonne da questi array
* Utilizzare questi array come faremmo in algebra lineare per
  * fare la moltiplicazione per elemento
  * creare una matrice per i prodotti vettoriali
  * fare il prodotto scalare
  * fare la trasposizione delle matrici
  * fare l'inverso delle matrici

In [ ]:
import numpy as np
A = np.array([[1,2],[3,4]])
print("The matrix A is:\n",A)
v = np.array([[5],[6]]) # this creates a column vector
print("The vector v is:\n",v)
w = np.array([5,6]) # this creates a row vector
print("The vector w is:\n",w)

## Il comando variable.shape

Restituisce la shape di un numpy array, ovvero una tupla che mostra la size(rows, columns)

In [5]:
import numpy as np
A = np.array([[1,2],[3,4]])
print(A.shape) # Shape of the matrix A
v = np.array([[5],[6]])
print(v.shape) # Shape of the column vector v
w = np.array([5,6])
print(w.shape) # Shape of the row vector w

(2, 2)
(2, 1)
(2,)

## Il comando variable.size

Restituisce la size di un numpy array, ovvero il numero totale di elementi dell'array.

In [ ]:
import numpy as np
A = np.array([[1,2],[3,4]])
v = np.array([[5],[6]])
w = np.array([5,6])
print(A.size) # Size (number of elements) of A
print(v.size) # Size (number of elements) of v
print(w.size) # Size (number of elements) of w

4
2
2

## Dagli array alle matrici

* Cosa succede se moltiplichiamo A per se stessa?
* Cosa succede se moltiplichiamo A per v?

In entrambi i casi, NON stiamo effettuando la moltiplicazione tra matrici, ma banalmente la moltiplicazione elemento per elemento.

In [6]:
# Nota bene che fare A*A non è come fare A*A con la moltiplicazione tra matrici.
A = np.array([[1,2],[3,4]])
v = np.array([[5],[6]])
print(A * A)
print(A * v)

[[ 1  4]
 [ 9 16]]
[[ 5 10]
 [18 24]]

 Quindi come fare? Se dichiariamo questi array come matrici, possiamo far sì che si comportino come ci aspetteremmo dall'algebra lineare.

In [ ]:
A = np.matrix([[1,2],[3,4]])
v = np.matrix([[5],[6]])
w = np.matrix([5,6])
print("The product A*A is:\n",A*A)
print("The product A*v is:\n",A*v)
print("The product w*A is:\n",w*A)

The product A*A is:
 [[ 7 10]
 [15 22]]
The product A*v is:
 [[17]
 [39]]
The product w*A is:
 [[23 34]]

## Trasposzione, inversione, determinanti e traccia

### Trasposta di una matrice

La trasposizione di una matrice (scambio di righe e colonne) viene eseguita con il comando matrice.T

In [ ]:
A = np.matrix([[1,2],[3,4]])
print(A.T) # The transpose is relatively simple

[[1 3]
 [2 4]]

### Inversa di una matrice

L'inversa di una matrice quadrata viene eseguita con il comando A.I

In [ ]:
A = np.matrix([[1,2],[3,4]])
Ainv = A.I # Taking the inverse is also pretty simple
print(Ainv)
print(A * Ainv) # check that we get the identity matrix back

[[-2.   1. ]
 [ 1.5 -0.5]]
[[1.0000000e+00 0.0000000e+00]
 [8.8817842e-16 1.0000000e+00]]

### Determinante di una matrice

Il determinante di una matrice viene chiamato con il comando det nel subpackage linalg.

In [ ]:
A = np.matrix([[1,2],[3,4]])
# The determinant is inside the numpy.linalg package
print(np.linalg.det(A))

-2.0000000000000004

### Traccia di una matrice

La traccia di una matrice quadrata (somma degli elementi presenti sulla diagonale) si calcola con il comando matrix.trace()

In [ ]:
import numpy as np
A = np.matrix([[1,2],[3,4]])
print(A.trace())

## Esercizio

Dati la seguente matrice B e vettore u:

![image.png]()

calcolare:
* Bu
* B*B
* Size e shape di B
* BT*u
* Il prodotto elemento-per-elemento di B con se stesso
* Il prodotto scalare di u con la prima riga di B

## Esempi

**Esercizio 1.** Creare un vettore nullo di dimensione 10 ma con il quinto valore che è 1.

In [ ]:
Z = np.zeros(10)
Z[4] = 1
print(Z)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

**Esercizio 2.** Creare un vettore con valori compresi tra 10 e 49.

In [ ]:
Z = np.arange(10,50)
print(Z)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

**Esercizio 3.** Invertire un vettore (il primo elemento diventa l'ultimo).

In [ ]:
Z = np.arange(50)
Z = Z[::-1]
print(Z)

[49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26
 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2
  1  0]

**Esercizio 4.** Trovare gli indici degli elementi non zero di [1, 2, 0, 0, 4, s0].

In [ ]:
nz = np.nonzero([1, 2, 0, 0, 4, 0])
print(nz)

(array([0, 1, 4]),)

**Esercizio 5.** Crearere un array 10x10 con valori casuali e trovare i valori minimo e massimo.

In [ ]:
Z = np.random.random((10,10))
Z

array([[0.5685575 , 0.69636659, 0.64022512, 0.18048263, 0.13003005,
        0.26901371, 0.4772437 , 0.4769572 , 0.04804521, 0.23366172],
       [0.94429468, 0.30112589, 0.23197319, 0.07213835, 0.6956314 ,
        0.60531729, 0.85947968, 0.47405032, 0.86539985, 0.73246051],
       [0.45533952, 0.45685126, 0.04109035, 0.91367378, 0.5628784 ,
        0.6369554 , 0.12771523, 0.18070776, 0.10579391, 0.14564602],
       [0.49926189, 0.94587924, 0.33946577, 0.86154299, 0.58716885,
        0.5443769 , 0.29076241, 0.85826184, 0.64535182, 0.13931905],
       [0.78909508, 0.80907071, 0.0663825 , 0.94142796, 0.51658768,
        0.90763672, 0.71235046, 0.87174129, 0.57212519, 0.04660884],
       [0.56297718, 0.36683633, 0.12188508, 0.49030984, 0.79648651,
        0.80447808, 0.1576028 , 0.49134277, 0.42336382, 0.65374928],
       [0.28757164, 0.09383478, 0.18631261, 0.44401181, 0.71575746,
        0.51517201, 0.42200856, 0.32598885, 0.5825556 , 0.14620881],
       [0.79809551, 0.37781001, 0.60593876, 0.6056221 , 0.48678724,
        0.01412622, 0.4663643 , 0.84134671, 0.63356079, 0.83892802],
       [0.57954734, 0.53041795, 0.40508076, 0.39035305, 0.18280698,
        0.05349078, 0.85592861, 0.0730432 , 0.12503114, 0.10909618],
       [0.36009449, 0.59910492, 0.78258157, 0.76945127, 0.27823791,
        0.34033089, 0.54545971, 0.66820139, 0.70841744, 0.50924313]])

In [ ]:
Zmin, Zmax = Z.min(), Z.max()
print(Zmin, Zmax)

0.014126219711838917 0.9458792375201415

**Esercizio 6.** Creare un vettore casuale di dimensione 30 e trovare il valore medio.

In [ ]:
Z = np.random.random(30)
Z

array([0.21512521, 0.51578555, 0.31608444, 0.68072781, 0.24529922,
       0.98913366, 0.34217569, 0.06336222, 0.92569309, 0.58279927,
       0.49893157, 0.25473186, 0.2597414 , 0.57216762, 0.28774702,
       0.56549581, 0.42810302, 0.12181564, 0.84560182, 0.73731621,
       0.40034753, 0.33765781, 0.40942202, 0.19661314, 0.33597455,
       0.08904976, 0.15738579, 0.8653456 , 0.58520359, 0.43406823])

In [ ]:
m = Z.mean()
print(m)

0.4419635384983452

**Esercizio 7.** Dato un array 1D, negare tutti gli elementi compresi tra 3 e 8, inplace.

In [ ]:
Z = np.arange(11)
Z[(3 < Z) & (Z < 8)] *= -1
print(Z)

[ 0  1  2  3 -4 -5 -6 -7  8  9 10]

Qual è l'output di `print(sum(range(5),-1))`?

In [ ]:
print(sum(range(5),-1))

9

**Esercizio 8.** Creare un vettore casuale di dimensione 10 e sostituire il valore massimo con 0.

In [ ]:
Z = np.random.random(10)
Z[Z.argmax()] = 0
print(Z)

[0.55369039 0.         0.73596212 0.82615362 0.07627594 0.72269315
 0.79729252 0.87911747 0.88345883 0.24151695]

**Esercizio 9.** Trovare il valore più vicino (a uno scalare dato) in un vettore.

In [ ]:
Z = np.arange(100)
Z

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [ ]:
v = np.random.uniform(0, 100)
v

56.79171600223777

In [ ]:
index = (np.abs(Z - v)).argmin()
print(Z[index])

57

**Esercizio 10.** Convertire tutti gli elementi di un array numpy da float a integer.

In [ ]:
a = np.array([[2.5, 3.8, 1.5], [4.7, 2.9, 1.56]])

o = a.astype("int")

print(o)

[[2 3 1]
 [4 2 1]]

**Esercizio 11.** Convertire un array numpy binario (contenente solo 0 e 1) in un array numpy booleano.

In [ ]:
a = np.array([[1, 0, 0], [1, 1, 1], [0, 0, 0]])

o = a.astype("bool")

print(o)

[[ True False False]
 [ True  True  True]
 [False False False]]

**Esercizio 12.** Unire orizzontalmente due array numpy aventi la stessa prima dimensione (cioè lo stesso numero di righe negli array 2D).

In [ ]:
a1 = np.array([[1, 2, 3], [4, 5, 6]])

a2 = np.array([[7, 8, 9], [10, 11, 12]])

o = np.hstack((a1, a2))

print(o)

[[ 1  2  3  7  8  9]
 [ 4  5  6 10 11 12]]

**Esercizio 13.** Dati due array numpy, estrarre gli indici in cui gli elementi nei due array corrispondono.

In [ ]:
a = np.array([1, 2, 3, 4, 5])

b = np.array([1, 3, 2, 4, 5])

print(np.where(a == b))

(array([0, 3, 4]),)

**Esercizio 14.** Generare un array ripetendo un array più piccolo di 2 dimensioni 10 volte.

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6]])

o = np.tile(a, 10)

print(o)

[[1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3]
 [4 5 6 4 5 6 4 5 6 4 5 6 4 5 6 4 5 6 4 5 6 4 5 6 4 5 6 4 5 6]]

**Esercizio 15.** Generare un array 5x5 di interi casuali compresi tra 0 (incluso) e 10 (escluso).

In [ ]:
np.random.seed(123)  # setting the seed

o = np.random.randint(0, 10, size=(5, 5))

print(o)

[[2 2 6 1 3]
 [9 6 1 0 1]
 [9 0 0 9 3]
 [4 0 0 4 1]
 [7 3 2 4 7]]

**Esercizio 16.** Verificare se uno qualsiasi degli elementi di un array dato è diverso da zero.

In [ ]:
x = np.array([1, 0, 0, 0])
print(np.any(x))
x = np.array([0, 0, 0, 0])
print(np.any(x))

True
False

**Esercizio 17.** Creare un confronto elemento per elemento (uguale, uguale entro una tolleranza) di due array dati.

In [ ]:
x = np.array([72, 79, 85, 90, 150, -135, 120, -10, 60, 100])
y = np.array([72, 79, 85, 90, 150, -135, 120, -10, 60, 100.000001])
print(np.equal(x, y))
print(np.allclose(x, y))

[ True  True  True  True  True  True  True  True  True False]
True

**Esercizio 18.** Trovare i dati mancanti in un array dato.

In [ ]:
nums = np.array([[3, 2, np.nan, 1], [10, 12, 10, 9], [5, np.nan, 1, np.nan]])
nums

array([[ 3.,  2., nan,  1.],
       [10., 12., 10.,  9.],
       [ 5., nan,  1., nan]])

In [ ]:
print(np.isnan(nums))

[[False False  True False]
 [False False False False]
 [False  True False  True]]

**Esercizio 19.** Scrivi un programma NumPy per estrarre tutti i numeri da un array dato che sono inferiori e superiori ad un numero specificato.

In [ ]:
nums = np.array([[5.54, 3.38, 7.99], [3.54, 4.38, 6.99], [1.54, 2.39, 9.29]])
n = 6
print(nums[nums < n])

[5.54 3.38 3.54 4.38 1.54 2.39]

**Esercizio 20.** Sostituire tutti i numeri in un array dato che sono uguali, minori e maggiori di un dato numero.

In [ ]:
nums = np.array([[5.54, 3.38, 7.99], [3.54, 8.32, 6.99], [1.54, 2.39, 9.29]])
n = 8.32
r = 18.32
print(np.where(nums == n, r, nums))

[[ 5.54  3.38  7.99]
 [ 3.54 18.32  6.99]
 [ 1.54  2.39  9.29]]

In [ ]:
print("\nReplace elements with of the said array which are less than", n, "with", r)
print(np.where(nums < n, r, nums))

Replace elements with of the said array which are less than 8.32 with 18.32
[[18.32 18.32 18.32]
 [18.32  8.32 18.32]
 [18.32 18.32  9.29]]

In [ ]:
print("\nReplace elements with of the said array which are greater than", n, "with", r)
print(np.where(nums > n, r, nums))

Replace elements with of the said array which are greater than 8.32 with 18.32
[[ 5.54  3.38  7.99]
 [ 3.54  8.32  6.99]
 [ 1.54  2.39 18.32]]

**Esercizio 21.** Moltiplicare due array dati della stessa dimensione elemento per elemento.

In [ ]:
nums1 = np.array([[2, 5, 2], [1, 5, 5]])
nums2 = np.array([[5, 3, 4], [3, 2, 5]])

NameError: name 'np' is not defined

In [ ]:
print(nums1)

[[2 5 2]
 [1 5 5]]

In [ ]:
print(nums2)

In [ ]:
print(np.multiply(nums1, nums2))

## Esercizi da svolgere

### Esercizio 1

Creare due tuple che rappresentino i due elenchi di nomi e cognomi descritti sotto:

* nomi: Numa, Tullo, Anco
* cognomi: Pompilio, Ostilio, Marzio

Ottenere una lista in cui ogni elemento è un dizionario {'nome': nome, 'cognome': cognome}, che accoppia nomi e cognomi in base all'ordine.

### Esercizio 2


●	Creare un dizionario che contenga come chiavi 'nome' e 'cognome', inserendo i propri dati come valori

●	Aggiungere 'matricola'

●	Aggiungere 'esami', provando ad immaginare che tipi di dato usare per rappresentare sia nome che voto degli esami

### Esercizio 3

●	Calcolare la somma dei primi 500 numeri naturali (da 0 a 500 escluso)

### Esercizio 4

Scrivere un programma che, dati i due elenchi di numeri sottostanti, crei la matrice dei loro prodotti:
  * v1: 1,2,3,4,5
  * v2: 6,7,8,9,10

mat:

[1 * 6, 1 * 7, 1 * 8, ...]

[2 * 6, 2* 7, 2 * 8, ...]
[...]

* Completare il programma con una stampa della matrice riga per riga:

[6, 7, 8, ...]

[12, 14, 16, ...]

### Esercizio 5

●	Aggiungere allo script precedente una funzione square(val,n), che ritorni una matrice quadrata di dimensione n con il valore val in ogni cella

### Esercizio 6

*	Definire la funzione eratostene(n) che restituisce tutti i numeri primi da 2 a n inclusi, utilizzando il procedimento del Crivello di Eratostene:
  *	Si crea un elenco di tutti i numeri naturali da 2 a n, detto setaccio.
  * Si aggiunge il primo numero del setaccio all'elenco dei
numeri primi trovati, e si eliminano dal setaccio tutti i suoi multipli. Si prosegue in questo modo fino ad esaurire i numeri nel setaccio.

### Esercizio 7

Scrivere le seguenti funzioni per calcolare:
* la somma dei primi n numeri pari, dove n dato in input (soluzione iterativa con for)
* la somma dei primi n numeri dispari, dove n è dato in input (soluzione iterativa con while)
* la serie geometrica di n numeri, dove n è dato in input (soluzione ricorsiva)